<%= render 'menubar' %>
<header>
        <div class="face">
            <%= link_to image_tag("srfuw_mizika_touka.png"), "/", class: "face" %>
            <h1>ようこそ</h1>
        </div>
    </div>
</header>

<body>
    
<br>
<a href="/" class="square_btn">部屋一覧</a>
<a href="/posting/new" class="square_btn">投函</a>
<br>

<div class="box11">
    
    <% @posting.each do |posting| %>
        <%=posting.user.nickname %>:<%= posting.text %>
        <%= link_to '覗く', "/posting/#{posting.id}", method: :get,class: 'square_btn_'%>
        <% if user_signed_in? && current_user.id == posting.user_id %>
        <%= link_to '削除', "/posting/#{posting.id}", method: :delete ,class: 'square_btn_'%>
        <%= link_to '編集', "/posting/#{posting.id}/edit", method: :get ,class: 'square_btn_'%>
        <% end %>
        <br><hr>
    <% end %>
    
    <%= paginate(@posting) %>
</div>
      
      <%= render 'sidebar' %>
</body>

<footer>
    <%= render 'footer' %>
</footer>
